# https://dart.dev/guides/libraries/private-files
# Created by `dart pub`
.dart_tool/

# Needed to allow the rover to build offline but allow us to build online
pubspec_overrides.yaml

# RealSense SDK build artifacts
src/obj
src/bin
src/build
src/*.so
dist/
